@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.add {
  position: fixed;
  bottom: 1.75rem;
  right: 2rem;
  background-image: linear-gradient(to bottom, #63a4ff 0%, #83eaf1 74%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.add:hover {
  transform: scale(1.2);
}
.add img {
  width: 25px;
  height: 25px;
}

header.header {
  font-family: "Roboto Mono", monospace;
  padding: 0.75rem 1.5rem;
  border-bottom: 3px solid #63a4ff;
}
header.header .left {
  display: flex;
  align-items: center;
}
header.header .left img {
  width: 40px;
  height: 40px;
  margin-right: 0.75rem;
}
header.header .left span {
  color: #2e3553;
  font-weight: bold;
  font-size: 17px;
}
main {
  display: flex;
  /*for debug*/
  height: calc(100vh - 67px);
}
main .categories {
  padding: 1.5rem 0;
  width: 18%;
  background-color: #63a4ff;
  background-image: linear-gradient(to left, #63a4ff 0%, #83eaf1 74%);
}
main .categories h3 {
  color: #2e3553;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
}
main .categories ul li {
  list-style-type: none;
  padding: 1rem 0;
  padding-left: 2.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}
main .categories ul li.selected {
  background: linear-gradient(to left, #63a4ff67 0%, #63a4ff 74%);
}

main .categories ul li .slide {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #63a4ff67 0%, #63a4ff 74%);
  transition: 1s;
}
main .categories ul li:hover .slide {
  transition: 1s;
  left: 0;
}
main .categories ul li a {
  position: relative;
  z-index: 1;
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000;
  transition: color 0.3s ease-in-out;
}
main .categories ul li:hover a {
  color: #fff;
}
main .notes {
  width: 82%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: #ecfaf5;
}
main .notes h1 {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}
main .notes .notes-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .notes .notes-content h4 {
  margin-top: 1.25rem;
  letter-spacing: 1px;
  color: #000000c7;
}
main .notes .notes-content .notes-logo {
  background-color: #fff;
  padding: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .notes .notes-content .notes-logo img {
  width: 100px;
}
/**/
main.full-main {
  height: 100%;
}
main .notes.all-notes {
  width: 32%;
  background-color: #ecfaf5;
  display: block;
  padding: 1rem;
  padding-left: 2rem;
}
main .notes.all-notes h1 {
  position: relative;
  top: auto;
  left: auto;
  margin-bottom: 1rem;
}
main .notes.all-notes .notes-content .note {
  background-color: #fff;
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}
main .notes.all-notes .notes-content .note:hover {
  transform: scale(0.98);
}
main .notes.all-notes .notes-content .note .left {
  display: flex;
  flex-direction: column;
}
main .notes.all-notes .notes-content .note .left .title {
  font-size: 14px;
}
main .notes.all-notes .notes-content .note .left .body {
  font-size: 13px;
  margin: 0.5rem 0;
}
main .notes.all-notes .notes-content .note .left .time {
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
}
main .notes.all-notes .notes-content .note .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .notes.all-notes .notes-content .note .right .delete img {
  width: 25px;
  cursor: pointer;
}

main .markdown {
  padding: 1rem;
  width: 50%;
  border-left: 1px solid #63a4ff;
}
main .markdown .markdown-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
main .markdown form .markdown-title,
main .markdown form .markdown-category,
main .markdown form .markdown-body {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
main .markdown form .markdown-title label,
main .markdown form .markdown-category label,
main .markdown form .markdown-body label {
  font-style: italic;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
  color: #2e3553;
}
main .markdown form div.markdown-body {
  flex-direction: column;
  align-items: flex-start;
}
main .markdown form .markdown-title input,
main .markdown form .markdown-category input {
  margin-left: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: inherit;
  border-width: 2px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  outline: none;
}
main .markdown form div.markdown-body label {
  margin-bottom: 0.5rem;
}
main .markdown form div.markdown-body textarea {
  padding: 0.5rem;
  width: 100%;
  height: 250px;
  margin: 0px;
  resize: none;
  font-family: inherit;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  outline: none;
}
main .markdown .save {
  margin: auto;
  display: block;
}
/**/
main .markdown .preview {
  padding: 0.75rem 0.75rem 0.75rem 2rem;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  background-color: #cbcbcc21;
  box-shadow: 0 10px 20px rgb(0 0 0 / 12%), 0 4px 5px rgb(0 0 0 / 24%);
}
main .markdown .preview > div {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}
main .markdown .preview > div.preview-body {
  flex-direction: column;
  align-items: flex-start;
}
main .markdown .preview .preview-text {
  color: #2e3553;
  font-weight: bold;
  margin-right: 0.5rem;
  font-style: italic;
  text-decoration: underline;
}
